html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #C2EDC2;
}
.container {
  height: 100%;
  position: relative;
}
input {
  font-size: 12px;
}
h1 {
  color: #000000;
  font-size: 1.8vw;
  margin: 0 0 10px 0;
  text-align: center;
}
#filter-options {
  width: 100%;
}
#all-markers, #unique-marker {
  font-family: fantasy, sans-serif;
  font-size: 1.5vw;
  margin: 10px 0 15px 0;
}
#map {
  bottom:0px;
  height: 100%;
  left: 25%;
  width: 80%;
  position: absolute;
  right: 0px;
  right-margin: auto;
}
.options-box {
  background: #f4dc42;
  border: 5px solid #808000;
  border-radius: 30px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 0px 10px;
  text-align: left;
  width: 200px;
  left-margin: auto;
}

@media screen and (max-width: 1000px) {

  #all-markers, #unique-marker, h1 {
   font-size: 2vw;
  }

  .options-box {
  width: 20%;
}

  
@media screen and (max-width: 800px) {

  .options-box {
  width: 15%;
}
